@font-face {
  font-family: 'iconfont'; /* Project id 3281956 */
  src: url('//at.alicdn.com/t/font_3281956_f7d9vrtg18l.woff2?t=1648733497575') format('woff2'),
    url('//at.alicdn.com/t/font_3281956_f7d9vrtg18l.woff?t=1648733497575') format('woff'),
    url('//at.alicdn.com/t/font_3281956_f7d9vrtg18l.ttf?t=1648733497575') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: '\e603';
}

.icon-tianjia:before {
  content: '\e620';
}

.icon-gongjulan_dingshi:before {
  content: '\e62e';
}

.icon-todo_list:before {
  content: '\e684';
}

.icon-geren:before {
  content: '\e64d';
}

.icon-tongjifenxi:before {
  content: '\e63f';
}
